body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;

}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;

}

.nav-wrapper {
  padding: 0 50px;
}

.collection-item {
  position: relative;
  cursor: pointer;
  transition: background .3s;

  &:hover {
    background: rgb(243, 243, 243);
  }

  span {
    font-weight: 600;
  }

  button.modal-trigger {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

}

.dropdown-content {
  width: 50% !important;
  top: 100% !important;
}

.modal.bottom-sheet {
  padding: 10px 0;
  color: black;

  input {
    border-bottom: 1px solid #9e9e9e !important;

  }

}